
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=5HfvmGDF+DTtOp9swpbkYg==,O5vK/+ws9w71/pZmo9kQQg==,sYBNTtyqbu95rdXMcR1nAw==,R+WeB55dRJ6uDJ/QFL+JTw==
API_TOKEN_SALT=U/q25+ZCPSyfpSVyRPz1Pg==
ADMIN_JWT_SECRET=QCITM+gvR5gzna9nADUhOA==
TRANSFER_TOKEN_SALT=76woe3WtqMZLzThBiPieSA==
ENCRYPTION_KEY=J1+rvUjIDa+4vIktx5Pcpg==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=ZjMHqQgNDcDukrc5TUmv0w==
